body {
    margin: 0;
}

.flexbox-centering-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.to-do-list-container {
    background-color: azure;
    width: 300px;
    min-height: 120px;
    text-align: center;
}
